
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?iw6kgm');
	src:url('../fonts/icomoon.eot?#iefixiw6kgm') format('embedded-opentype'),
		url('../fonts/icomoon.woff?iw6kgm') format('woff'),
		url('../fonts/icomoon.ttf?iw6kgm') format('truetype'),
		url('../fonts/icomoon.svg?iw6kgm#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[id^="icon-"], [id*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-container:hover  >  .icon{
	color:#635E2E;
}

.icon-container{
position: relative;
top: 2px;	
right: 3px;
width: 24px;
height: 24px;
padding: 1px;
cursor:pointer;
}

#icon-facebook:before {
	content: "\e600";
}
#icon-twitter:before {
	content: "\e601";
}
#icon-mailto:before {
	content: "\e602";
}
#icon-play:before {
	content: "\e603";
}
#icon-pause:before {
	content: "\e604";
}
#icon-info:before {
	content: "\e605";
}
#icon-share:before {
	content: "\e606";
}

#container{
	border-style: solid;
	border-width: 10px 10px 10px 10px;
	-moz-border-image: url('../img/3152662776_73676fc22b_m.jpg') 15 15 15 15 round;
	-webkit-border-image: url('../img/3152662776_73676fc22b_m.jpg') 15 15 15 15 round;
	-o-border-image: url('../img/3152662776_73676fc22b_m.jpg') 15 15 15 15 round;
	border-image: url('../img/3152662776_73676fc22b_m.jpg') 15 15 15 15 round;
	background: #F6F4CF;
	color: #571F1F;
	padding: 10px 5px;
	margin: 0 auto;
	font-size: 23px;
	text-align: center;
	text-shadow: 0px -1px 1px #EBEBEB;
	box-shadow: 2px 2px 5px #707070;
	-moz-box-shadow: 2px 2px 5px #707070;
	-webkit-box-shadow: 2px 2px 5px #707070;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}
.aya_container {
	padding: 10px 0 1px 0;
	line-height: 40px;
}
.aya_container span:not(.icon){
	margin-left: 8px;
	border-radius: 13px;
	color: #333;
	font-size: 19px;
	border: 1px solid #AAA;
	padding: 1px 7px 1px 7px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	background: #efefef;
	background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef));
	background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%);
	background: linear-gradient(top, #ffffff 0%,#efefef 100%);
}
#souratname {
	position: relative;
	bottom: 0px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 3px;
	text-align: left;
	color: #383232;
	font-size: 19px;
	font-weight: bold;
	line-height: 26px;
}
#playtoggle{
	width: 24px;
	height: 24px;
	cursor:pointer;
}
#aya-options li{
	display: inline-block;
	margin:0 3px;
	border-radius:13px;
	-moz-border-radius: 13px;
	-o-border-radius: 13px;
	-webkit-border-radius: 13px;
	border: 1px solid #AAA;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.2);	
	background: #efefef;
	background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef));
	background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%);
	background: linear-gradient(top, #ffffff 0%,#efefef 100%);
}
#aya-options li:hover{
	box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
	-webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.2);	
  	border: 1px solid rgba(197, 186, 178, 1);  	
	background:#fff;
}
.qi-link{
	font-size: 11px;
	margin: 5px auto 0px auto;
	display:block;
	color: grey;
	text-align: right;
}
.slide-right:nth-child(1){
-webkit-animation: animright ease-in-out 2s; 
}
.slide-right:nth-child(2){
-webkit-animation: animright2 ease-in-out 1.5s; 
}
.slide-right:nth-child(3){
-webkit-animation: animright3 ease-in-out 1s; 
}
.slide-left:nth-child(1){
-webkit-animation: animleft ease-in-out 1s; 
}
.slide-left:nth-child(2){
-webkit-animation: animleft2 ease-in-out 1s; 
}
.slide-left:nth-child(3){
-webkit-animation: animleft3 ease-in-out 1s; 
}
@-webkit-keyframes animright
{
   from {opacity: 0;   -webkit-transform: translateX(90px);   }
   to   {opacity: 1; -webkit-transform: translateX(0px); }
}
@-webkit-keyframes animright2
{
   from {opacity: 0;   -webkit-transform: translateX(60px);   }
   to   {opacity: 1; -webkit-transform: translateX(0px); }
}
@-webkit-keyframes animright3
{
   from {opacity: 0;   -webkit-transform: translateX(30px);   }
   to   {opacity: 1; -webkit-transform: translateX(0px); }
}
@-webkit-keyframes animleft
{
   from {opacity: 1;   -webkit-transform: translateX(0px);   }
   to   {opacity: 0; -webkit-transform: translateX(90px); }
}
@-webkit-keyframes animleft2
{
   from {opacity: 1;   -webkit-transform: translateX(0px);   }
   to   {opacity: 0; -webkit-transform: translateX(60px); }
}
@-webkit-keyframes animleft3
{
   from {opacity: 1;   -webkit-transform: translateX(0px);   }
   to   {opacity: 0; -webkit-transform: translateX(30px); }
}
audio{ /* ios fix */
	width:0;
	height:0;
	display: none;
}